body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 660px;
  height: 220px;
  z-index: 99;
  border: 6px solid black;
  border-radius: 8px;
}

/* .one {
  background-image: url(../images/image-one.jpg);
  background-repeat: no-repeat;
}

.two {
  background-image: url(../images/image-two.jpg);
  background-repeat: no-repeat;
}

.three {
  background-image: url(../images/image-three.jpg);
  background-repeat: no-repeat;
}

.four {
  background-image: url(../images/image-four.jpg);
  background-repeat: no-repeat;
}

.five {
  background-image: url(../images/image-five.jpg);
  background-repeat: no-repeat;
}

.six {
  background-image: url(../images/image-six.jpg);
  background-repeat: no-repeat;
}

.seven {
  background-image: url(../images/image-seven.jpg);
  background-repeat: no-repeat;
} */

.numbers {
  display: flex;
  align-items: center;
  align-content: center;
}

.container {
  margin-top: 40px;
}

.square {
  height: 204px;
}

.left {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-size: contain;
  border-radius: 6px;
}

.middle {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-size: contain;
  border-radius: 6px;
}

.right {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-size: contain;
  border-radius: 6px;
}

button {
  margin-top: 40px;
}

h1 {
  margin: 40px 0 0;
}

.totalPoints {
  right: 0;
}

.totalPoints h2 {
  font-size: 30px;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

.totalPoints h2:after {
  content: ":";
}

.totalPoints b {
  font-size: 20px;
  color: #e2311a;
}

.totalPoints li {
  margin: 5px 20px 0;
  color: #666;
}

.totalPoints li:before {
  content: "+ ";
  color: #e2311a;
}

.totalPoints strong {
  font-size: 30px;
  display: block;
  margin-top: 6px;
}

ol,
ul {
  list-style: none;
}
