@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");

body {
  background-image: url("../images/DSC_6098.jpg");
  font-family: "Merriweather Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 660px;
  height: 220px;
  z-index: 99;
  border-radius: 8px;
}

.container {
  margin-top: 76px;
  color: black;
  background-color: rgba(255, 255, 255, 0.562);
}

.square {
  width: 300px;
  height: 200px;
  background-color: black;
  border-radius: 8px;
  position: relative;
}

.left {
  height: 200px;
  background-size: contain;
  border-radius: 6px;
  z-index: 4;
}

.right {
  height: 200px;
  background-size: contain;
  border-radius: 6px;
  z-index: 49;
}

img.left.colorfull {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
}

img.right.black {
  width: 300px;
  display: block;
  position: relative;
}

img.right.colour {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
}

h1 {
  margin: 22% 0 0;
  font-size: 60px;
  color: white;
}

ol,
ul {
  list-style: none;
}
